:root {
  --logo-color: #FF0000;
  --background: #292524;
  --text-white: #FFFFFF;
  --text-red:   #FF0000;

}

* {
    padding: 0;
    margin: 0;

}
body {
    margin: 0;
    font-family: "Ubuntu", Arial, sans-serif;
    background-color: var(--background);
  }

  .navbar {
    display: flex;
    align-items: center;
    background-color: var(--logo-color); /* make navbar red to follow reference imagery */
    color: #fff;
    padding: 10px;
  }

  .logo {
    margin-right: auto; /* Pushes the logo to the left */
    font-size: 24px;
    font-weight: bold;
    height: 7%;
    width: 7%;
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar li {
    margin-left: 10px;
  }

  .navbar li a {
    color: var(--text-white);
    text-decoration: none;
    padding: 8px 16px;
  }

  .navbar li a:hover { /* hover needs to be te same as background color */
    background-color: var(--background);
    height: 30px;

  }

  .about-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    color: var(--text-white);
  }

  .about-image {
    width: 200px;
    border-radius: 3px;
  }

  .about-text {
    margin-top: 20px;
    color: var(--text-white);
  }

  .contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    color: var(--text-white);
  }

  .contact-heading {
    font-size: 24px;
    font-weight: bold;
  }

  .contact-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .contact-form button {
    width: 150px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .contact-form button:hover {
    background-color: #111;
  }